/* sorry QuantumByteStudios this loads lots of resources
.resizableWindow{
  width: 50%;
  height: 50%;  
  border: none;
  margin: 0px;
}
.frameresizableWindow{
  width: 100%;
  height: 100%;  
  border: none;
  margin: 0px;
}
.tittleWindow{
  background-color: whitesmoke;
}
/* IconShell CSS */
/*
.Iconshell{
  background-color: transparent;
  width: 80px;
  height: 80px;
  border: solid 0px white;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}

.Iconshell:hover{
  background-color: transparent;
}


/* ID CSS FOR JS */

/*
#browser{
  display: none;
  position: absolute;
}

/* *new edge from run (experimental)* */
.window[data-id="Microsoft Edge1"], .window[data-id="Visual Studio Code1"] {
  min-width: 70vw;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
}
.window[data-id="Microsoft Edge1"] .windowBody, .window[data-id="Visual Studio Code1"] .windowBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.window[data-id="Microsoft Edge1"] .windowBody iframe, .window[data-id="Visual Studio Code1"] .windowBody iframe{
  border: none;
  height: 100% !important;
  width: 100% !important;
}
